@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in .3s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out .3s ease-in-out forwards;
}

@media only screen and (max-width: 48em) {
  .util-mobile-hide {
    display: none;
  }
}

@media only screen and (min-width: 48.0625em) {
  .util-desktop-hide {
    display: none;
  }
}

.fade {
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 52%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 40%;
  }
}

body.no-scroll {
  overflow: hidden;
}

div.nav-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 8vw;
  background: #304353;
}

div.nav-bar.open .nav__toggle > span:first-child {
  transform: rotate(45deg);
}

div.nav-bar.open .nav__toggle > span:nth-child(2) {
  opacity: 0;
}

div.nav-bar.open .nav__toggle > span:last-child {
  transform: rotate(-45deg);
}

div.nav-bar .overlay {
  position: fixed;
  background-image: linear-gradient(#0000008c, transparent);
  height: 100vh;
  top: 6rem;
  left: 0;
  bottom: 0;
  right: 0;
}

div.logo {
  font-size: 2.4rem;
  color: #bcc3c7;
}

.nav__toggle > span {
  display: block;
  width: 2.6rem;
  height: .2rem;
  background-color: #bcc3c7;
  transition: all .3s ease-in-out;
  transform-origin: 1.5px 0.5px;
}

.nav__toggle > span:hover {
  cursor: pointer;
}

.nav__toggle > span:not(:last-child) {
  margin-bottom: .6rem;
}

ul.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 2vw;
  list-style: none;
  font-size: 1.76rem;
}

ul li a {
  text-decoration: none;
  color: #88949B;
  padding: 0.5vw;
}

ul li a:hover {
  color: #304353;
  background: #fff;
  padding: 0.8rem;
}

.header__menu {
  background: #fff;
  display: block;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  justify-content: center;
  border-radius: .5rem;
  padding: 4rem 0;
  width: 70%;
}

.header__menu a {
  display: block;
  text-decoration: none;
  color: #304147;
  font-size: 1.4rem;
  padding: 2rem 0;
}

div.hero-section {
  background: #304353;
  padding: 12vw;
}

div.hero-content-heading {
  text-align: center;
}

div.hero-content-heading h3 {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #bcc3c7;
}

div.hero-content-heading p {
  text-align: center;
  padding-top: 1.12rem;
  color: #88949B;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 300;
}

div.hero-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
}

div.hero-content-btn a {
  background: #E44C65;
  text-decoration: none;
  color: #bcc3c7;
  font-size: 1.44rem;
  padding: 10px 30px;
  border-radius: 3px;
  letter-spacing: 2px;
}

div.hero-background {
  background: #f0f0f0;
  padding: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.background {
  background: #fff;
  box-shadow: 2px 2px 15px 0 #878787;
  padding: 4.5rem 8rem;
  width: 550px;
  height: 220px;
  position: relative;
}

@media only screen and (max-width: 40.625em) {
  div.background {
    height: auto;
    width: auto;
  }
}

div.background h4 {
  margin-bottom: 2rem;
  color: #555657;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.background p {
  color: #A6A5AA;
  font-size: 1.28rem;
  letter-spacing: 2px;
}

div.hero-background-pos {
  position: absolute;
  right: 0px;
  left: 66%;
  background: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 15px 0 #878787;
}

@media only screen and (max-width: 40.625em) {
  div.hero-background-pos {
    display: none;
  }
}

div.snapshot-team {
  background: #f0f0f0;
  text-align: center;
  padding-top: 3.2rem;
}

div.snapshot-team h2 {
  color: #555657;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.snapshot-team p {
  color: #A6A5AA;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding-top: 1.28rem;
}

@media only screen and (max-width: 45.625em) {
  div.snapshot-team p {
    margin: 0 10rem;
  }
}

div.snapshot-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  padding: 5.6rem 9.6rem;
}

div.snapshot-box-content {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 45.625em) {
  div.snapshot-box-content {
    flex-direction: column;
  }
}

div.box1 {
  background: #fff;
  padding: 10px 20px;
  width: 220px;
  height: 230px;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 15px 0 #878787;
}

@media only screen and (max-width: 45.625em) {
  div.box1 {
    margin: 25px;
  }
}

div.box3 {
  background: #304353;
  padding: 10px 20px;
  width: 220px;
  height: 230px;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 15px 0 #878787;
}

@media only screen and (max-width: 45.625em) {
  div.box3 {
    margin: 25px;
  }
}

div.box3 h5 {
  text-align: center;
  padding-top: 3.2rem;
  color: #E44C65;
  font-size: 1.6rem;
}

div.circle {
  display: flex;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #bcc3c7;
  margin-top: 3.2rem;
}

div.box1 h5 {
  text-align: center;
  padding-top: 3.2rem;
  color: #E44C65;
  font-size: 1.6rem;
}

div.gallery-section {
  background: #fff;
  padding: 6.4rem;
}

div.gallery-content {
  text-align: center;
}

div.gallery-content h4 {
  color: #555657;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.gallery-content p {
  color: #A6A5AA;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding-top: 1.28rem;
}

@media only screen and (max-width: 45.625em) {
  div.gallery-content p {
    margin: 0 2rem;
  }
}

div.gallery-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4.8rem;
}

div.img {
  margin: 10px;
}

div.img img {
  width: 250px;
  height: 180px;
}

div.footer {
  background: #304353;
  padding: 4.8rem;
}

div.footer-content {
  text-align: center;
}

div.footer-content h4 {
  color: #bcc3c7;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.footer-content p {
  color: #88949B;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding-top: 1.28rem;
  margin: 0 8vw;
}

div.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.8rem;
}

@media only screen and (max-width: 40.625em) {
  div.footer-input {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0 12vw;
  }
}

input[type="text"] {
  margin-right: 10px;
  padding: 10px 20px;
  width: 25%;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
  font-size: 1.6rem;
  border-radius: 2px;
}

@media only screen and (max-width: 40.625em) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 2rem;
  }
}

input[type="email"] {
  padding: 10px 20px;
  width: 25%;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
  font-size: 1.6rem;
  border-radius: 2px;
}

@media only screen and (max-width: 40.625em) {
  input[type="email"] {
    width: 100%;
  }
}

::placeholder {
  color: #A6A5AA;
}

div.footer-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
}

@media only screen and (max-width: 40.625em) {
  div.footer-textarea {
    justify-content: start;
    align-items: flex-start;
    margin: 0 12vw;
  }
}

textarea {
  width: 51%;
  height: 150px;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
}

@media only screen and (max-width: 40.625em) {
  textarea {
    width: 100%;
  }
}

div.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
}

div.footer-btn a {
  background: #E44C65;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.44rem;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 2px;
}

div.footer h6 {
  text-align: center;
  color: #88949B;
  font-size: 1.6rem;
  padding-top: 9.6rem;
}
/*# sourceMappingURL=main.css.map */