div.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 8vw;
    // width: 100vw;
    background: #304353;

    &.open {
        .nav__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }
        
            > span:nth-child(2) {
                opacity: 0;
            }
        
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        position: fixed;
        background-image: linear-gradient(#304147, transparent);
        height: 100vh;
        top: 6rem;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

div.logo {
    font-size: 2.4rem;
    color: #bcc3c7;
}

.nav__toggle {
    > span {
        display: block;
        width: 2.6rem;
        height: .2rem;
        background-color: #bcc3c7;
        transition: all .3s ease-in-out;
        transform-origin: 2px 1px;

        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-bottom: .6rem;
        }
    }    
}

ul.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 2vw;
    list-style: none;
    font-size: 1.76rem;
}

ul li a {
    text-decoration: none;
    color: #88949B;
    padding: 0.5vw;
}

ul li a:hover {
    color: #304353;
    background: #fff;
    padding: 0.8rem;
}

.header__menu {
    background: #fff;    
    display: block;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    border-radius: .5rem;
    padding: 4rem 0;
    width: 70%;

    a {
        display: block;
        text-decoration: none;
        color: #304147;
        font-size: 1.4rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}