div.hero-background {
    background: #f0f0f0;
    padding: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 40%);
    padding: 4.5rem 8rem;
    width: 550px;
    height: 220px;
    position: relative;

    @include respond(650px) {
        height: auto;
        width: auto;
    }
}

div.background h4 {
    margin-bottom: 2rem;
    color: #555657;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include respond(650px) {
        // padding-bottom: 5rem;
    }
}

div.background p {
    color: #A6A5AA;
    font-size: 1.28rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 40%);

    @include respond(650px) {
        display: none;
    }
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 3.2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1.6rem;
    letter-spacing: 2px;
    padding-top: 1.28rem;

    @include respond(730px) {
        margin: 0 10rem;
    }
}

div.snapshot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    padding: 5.6rem 9.6rem;
}

div.snapshot-box-content {
    display: flex;
    justify-content: space-between;

    @include respond(730px) {
        flex-direction: column;
    }
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 40%);

    @include respond(730px) {
        margin: 25px;
    }
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 40%);

    @include respond(730px) {
        margin: 25px;
    }
}

div.box3 h5 {
    text-align: center;
    padding-top: 3.2rem;
    color: #E44C65;
    font-size: 1.6rem;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 3.2rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 3.2rem;
    color: #E44C65;
    font-size: 1.6rem;
}